header a:first-child {
  margin-right: auto;
}

header img {
  width: 2rem;
  height: 2rem;

  transition: transform 500ms;
}

header img[src*="logo"]:hover {
  transform: rotate(90deg);
}

header img[src*="shopping"]:hover {
  transform: rotate(-30deg);
}

header a {
  position: relative;
}

header a span {
  font: var(--font-family-inter) var(--font-weight-medium) var(--font-size-small);
  line-height: 1.3;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;

  background-color: var(--snitap-sun);

  width: 1.25rem;
  height: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}