.pdy-base {
  padding-block: var(--pdy-base);
}

.pdy-lg {
  padding-block: var(--pdy-lg);
}

.pdx-lg {
  padding-inline: var(--pdx-lg);
}

.container {
  --max-width: 360px;
  width: min(var(--max-width), 100% - var(--pdx-lg) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.grid {
  display: grid;
}

@media (width >=80em) {
  .container {
    --max-width: 80rem
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}