* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Alice", serif;
  color: #573a37;
}

body {
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
}

#container {
  width: 800px; /* Dimensões definidas com base no projeto figma, altura não definimos pois segue o conteúdo da página */
  padding: 24px;
  background-color: #f0e8c2;
  margin: 48px auto; /* Alinha o container ao centro */

  border-radius: 24px;
}

img {
  width: 752px;
  height: 400px;
  border-radius: 16px;
}

main {
  padding: 24px;
  margin-top: 24px;
  border: 1px solid #573824;

  border-radius: 16px;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1,
h2 {
  color: #291b1a;
  margin-bottom: 4px;
  line-height: 150%;
}

ul {
  padding-left: 24px;
}

footer {
  color: #f0e8c2;
  text-align: center;
  padding-bottom: 48px;
}

footer img {
  width: 16px;
  height: auto;
  vertical-align: middle;
}
